@font-face {
  font-family: "iconfont"; /* Project id 3731228 */
  src: url('iconfont.woff2?t=1666789521589') format('woff2'),
       url('iconfont.woff?t=1666789521589') format('woff'),
       url('iconfont.ttf?t=1666789521589') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-xt_weiruan:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e612";
}

